.mainmenu {
  border: 3px solid aqua;
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}
.submenu {
  display: flex;
  justify-content: space-between;
}
