<!DOCTYPE html>
<html>
  <head>
    <title>MongooseTest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class='some_form'>
      <input id="login" class="login" type="text" name="login" placeholder="login..">
      <input id="quantity" class="quantity" type="text" name="quantity" placeholder="quantity..">
      <input id="email" class="email" type="text" name="email" placeholder="email..">
      <input type="submit" value="Send">
    </form>

    <div class="output"></div><br>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src='/js/main.js'></script>
  </body>
</html>
