<!DOCTYPE html>
<html>
  <head>
    <title>MySQL</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/table">Get a table</a><br><br>
    <a href="/fil_table">Get a filtered table (2004 - 2007)</a>
    <% cars.forEach(e => { %>
      <li><%= e.make %> <%= e.model %></li>
    <%}) %>
  </body>
</html>
