.basic {
  height: 500px;
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  justify-content: center;
}

a {
  margin: 10px;
}

.components {
  display: flex;
  margin: 0 auto;
}
