<!DOCTYPE html>
<html>
  <head>
    <title>JWT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="send-out">
      <input type="text" class="pass-l" name="passw_l" placeholder="passw local">
      <input type="text" class="pass-r" name="passw_r" placeholder="passw remote">
      <input type="text" class="payload" name="url" placeholder="url remote">
      <input type="submit" value="Send">
    </form><br>

    <div class="out"></div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
