<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="output">Welcome to admin page, <%=name %>!</div><br>

    <form action="/auth/logout" method="get">
      <input id="login" type="submit" value="Log Out">
    </form>

  </body>
</html>