<!DOCTYPE html>
<html>
  <head>
    <title>Start</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <a href="/login">You want to sign in?</a><br><br>
      <a href="/register">Don't have an account?</a>

  </body>
</html>