<!DOCTYPE html>
<html>
  <head>
    <title>Passport.js</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class='log-form'>
      <input id="email" class="email" type="email" name="login" placeholder="email..">
      <input id="password" class="password" type="text" name="password" placeholder="password..">
      <input type="submit" value="Log in">
    </form>

    <div class="output"></div><br>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src='/javascripts/main.js'></script>
  </body>
</html>