<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (logged) { %>
      <div class="output">You are logged in!</div><br>
      <form action="/logout" method="get">
        <input id="login" type="submit" value="Log Out">
      </form>
    <%} else {%>
      <form action="/login" method="post" class='log-form'>
        <input id="email" class="email" type="email" name="email" placeholder="email..">
        <input id="password" class="password" type="text" name="password" placeholder="password..">
        <input id="login" type="submit" value="Log in">
      </form>
      <br><br>
      <a href="/auth/google">Sign in with google?</a><br><br>
      <a href="/register">Register?</a>
    <%}%>

  </body>
</html>