<!DOCTYPE html>
<html>
  <head>
    <title>Cats by countries</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <input type="radio" name="region" value="Africa">
      <label for="male">Africa</label><br>
      <input type="radio" name="region" value="Americas">
      <label for="female">Americas</label><br>
      <input type="radio" name="region" value="Asia">
      <label for="other">Asia</label><br>
      <input type="radio" name="region" value="Oceania">
      <label for="other">Oceania</label><br>
      <input type="radio" name="region" value="Europe">
      <label for="other">Europe</label><br>
      <input type="submit" value="Submit">
    </form>

    <div class="wrapper"></div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
