.basic {
  height: 500px;
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  justify-content: center;
}

a {
  margin: 10px;
}

.container {
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
