<!DOCTYPE html>
<html>
  <head>
    <title>Multer | Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
    <form>
      <b>Date:</b>
      <input class="dateEl" type="date" name="date">
      <b>Autor's name:</b>
      <input type="text" class="autor" name="autorname">
      <b>Article:</b>
      <textarea class="txtel" name="txt" rows="4" cols="50"></textarea>
      <button class="button" type="submit">Send</button>
    </form>
    </div>
    <div class="wrapper2"></div>
    <a class="linkEl" href="/1.csv" download>Download the file</a>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
