<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>
    <b>Login:</b><br>
      <form class="login">
        <input type="text" name="email" placeholder="email..">
        <input type="text" name="password" placeholder="password..">
        <button type="submit">Submit</button><br>
      </form>
  <a href="/">Go back</a><br>

    <div class="output"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src='/javascripts/login.js'></script>
  </body>
</html>
