<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>
    <div class="container">
    <b>Register:</b>
    <form class="add-user">
      <input type="text" name="email" placeholder="email..">
      <input type="text" name="password" placeholder="password..">
      <input type="text" name="name" placeholder="name..">
      <input type="text" name="surname" placeholder="surname..">
      <button type="submit">Register user</button><br>
    </form>
  </div>
  <a href="/">Go back</a><br>
    <div class="output"></div>  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src='/javascripts/register.js'></script>
  </body>
</html>
