<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>
    <div class="output"><%= name %>, Welcome!</div>  
    <a href="/">Go back</a><br>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
