<!DOCTYPE html>
<html>
  <head>
    <title>Getters | Setters</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>
    <div class="container">
      <div><b>Getter:</b>
      <form class="get">
        Temperature, Celsius
        <input type="text" name="temperature" placeholder="celsius..">
        Wind speed, Km per h
        <input type="text" name="windSpeed" placeholder="km per hour..">
        Radiation, R
        <input type="text" name="radiation" placeholder="R..">
        Pressure, Pa
        <input type="text" name="pressure" placeholder="Pa..">
        <input type="submit" value="Convert">
      </form><br>
    </div>
    <div><b>Setter:</b>
      <form class="set">
        Id:
        <input type="text" name="id" placeholder="id..">
        Temperature, K
        <input type="text" name="temperature" placeholder="Kelvin..">
        Wind speed, MPH
        <input type="text" name="windSpeed" placeholder="mp per hour..">
        Radiation, Sv
        <input type="text" name="radiation" placeholder="Sievert..">
        Pressure, mmHg
        <input type="text" name="pressure" placeholder="mmHg..">
        <input type="submit" value="Convert">
      </form><br>
    </div>
    </div><br>
    <div class="container2">
      <div class="output1"></div>  
      <div class="output2"></div>  
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'></script>
    <script src='/javascripts/main.js'></script>
  </body>
</html>
